In [1]:
import pandas as pd

In [2]:
course_reviews_data = pd.read_csv("2024_02_21_all_reviews", index_col=0)
df = pd.DataFrame(course_reviews_data)

In [3]:
df.head()

,course_code,status_code,star_count,prof_name,prof_slug,grade,reviewer_name,date,review_text,review_id
0,NFSC112,200,4,Abani Pradhan,/professor/pradhan,Expecting an A,Anonymous,12/23/2023,"Didn't learn anything, but didn't need to. Eas...",review-31256
1,NFSC112,200,5,Qin Wang,/professor/wang_qin,Expecting an A,Anonymous,12/18/2023,Easy class. The lectures are asynchronous but ...,review-30485
2,NFSC112,200,5,Xiaoxue Jia,/professor/jia_xiaoxue,Expecting an A,Anonymous,12/13/2023,She is amazing with ADS and helpful with answe...,review-29852
3,NFSC112,200,2,Abani Pradhan,/professor/pradhan,Expecting a B-,Anonymous,12/06/2023,Easy class as long as you actually watch the l...,review-28855
4,NFSC112,200,5,Qin Wang,/professor/wang_qin,Expecting an A,Anonymous,11/26/2023,"she is a good lecturer, nfsc 112, is ""chill,"" ...",review-28192

In [4]:
df.star_count.unique()

array([4, 5, 2, 3, 1])

In [5]:
df.grade.unique()

array(['Expecting an A', 'Expecting a B-', 'Expecting an A+',
       'Expecting a B+', 'Expecting an A-', 'Expecting a B', nan,
       'Expecting a C', 'Expecting a b', 'Expecting a C+',
       'Expecting an F', 'Expecting a D', 'Expecting a W',
       'Expecting a P', 'Expecting a a', 'Expecting a B?',
       'Expecting a c?', 'Expecting a c-', 'Expecting a C-',
       'Expecting a D+', 'Expecting a 65', 'Expecting a b+',
       'Expecting a c', 'Expecting an XF', 'Expecting a ?',
       'Expecting a D-', 'Expecting a A?', 'Expecting a AA',
       'Expecting a -A', 'Expecting a s', 'Expecting a b-',
       'Expecting a C?', 'Expecting a d', 'Expecting a I',
       'Expecting a ??', 'Expecting a a-', 'Expecting a -',
       'Expecting a 74', 'Expecting a BC', 'Expecting a CD',
       'Expecting a F+', 'Expecting a CB', 'Expecting a 85',
       'Expecting a 95', 'Expecting a AU'], dtype=object)

In [7]:
df.isnull().sum()

course_code         0
status_code         0
star_count          0
prof_name           0
prof_slug           0
grade            4135
reviewer_name       0
date                0
review_text         5
review_id           0
dtype: int64

In [14]:
df.duplicated().sum()

19

things to do

need to combine similiar expecting grades

handle null values

handle duplicates